.second-page {
    position: relative;
    width: 700px;
    height: 888px;
    margin: 0 auto;
    padding-left: 370px;
    padding-right: 370px;
    /*display: flex;*/
    /*display: none;*/
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f6f6f7;
}
.aside-menu-block {
    position: relative;
}

.bottom-right {
    width: 336px;
    top: 0;
    left: 0;
    position: relative;
    margin-left: 6px;
    margin-top: 6px;
    transition: all 1s ease-out;
}
.bottom-right:hover {
    top: 30px;
    left: 30px;
    transition: all 1s ease-out;
}
.bottom-right-1 {
    position: absolute;
    transform: rotate(270deg);
}
.bottom-right-1-1 {
    filter: opacity(0.5);
    transition: all 1s ease-out;
}
.bottom-right-2 {
    position: absolute;
}
.bottom-right-2-2 {
    filter: opacity(0.2);
}
.bottom-right-3 {
    position: absolute;
    transform: rotate(90deg);
}
.bottom-right-3-3 {
    filter: opacity(0.5);
    transition: all 1s ease-out;
}
.bottom-right-4 {
    position: absolute;
    top: 10px;
    left: 10px;
    transform: rotate(90deg);
}
.bottom-right-5 {
    position: absolute;
    transform: rotate(270deg);
    bottom: 16px;
    left: 16px;
}
.bottom-right-rel {
    position: relative;
}
.bottom-right-1-1-2 {
    position: absolute;
    bottom: -15px;
    right: 40px;
    transform: rotate(90deg);
}
.bottom-right:hover .bottom-right-1-1 {
    filter: opacity(1);
    transition: all 1s ease-out;
}
.bottom-right:hover .bottom-right-3-3 {
    filter: opacity(0.5);
    transition: all 1s ease-out;
}
.bottom-right:hover .bottom-right-2-2 {
    filter: opacity(1);
    transition: all 1s ease-out;
}


.bottom-left {
    width: 336px;
    top: 0;
    right: 0;
    position: relative;
    margin-right: 6px;
    margin-top: 6px;
    transition: all 0.5s ease-out;
}
.bottom-left:hover {
    top: 30px;
    right: 30px;
    transition: all 1s ease-out;
}
.bottom-left-1 {
    position: absolute;
    /*transform: rotate(270deg);*/
}
.bottom-left-1-1 {
    filter: opacity(0.5);
    transition: all 1s ease-out;
}
.bottom-left-2 {
    position: absolute;
    right: 0;
    transform: rotate(90deg);
}
.bottom-left-2-2 {
    filter: opacity(0.2);
}
.bottom-left-3 {
    position: absolute;
    right: 0;
    transform: rotate(180deg);
}
.bottom-left-3-3 {
    filter: opacity(0.5);
    transition: all 1s ease-out;
}
.bottom-left-4 {
    position: absolute;
    right: 10px;
    top: 10px;
    transform: rotate(180deg);
}
.bottom-left-5 {
    position: absolute;
    transform: rotate(180deg);
    bottom: 16px;
    left: 16px;
}
.bottom-left-rel {
    position: relative;
}
.bottom-left-1-1-2 {
    position: absolute;
    left: 10px;
    top: 10px;
}
.bottom-left:hover .bottom-left-1-1 {
    filter: opacity(1);
    transition: all 1s ease-out;
}
.bottom-left:hover .bottom-left-3-3 {
    filter: opacity(0.5);
    transition: all 1s ease-out;
}
.bottom-left:hover .bottom-left-2-2 {
    filter: opacity(1);
    transition: all 1s ease-out;
}


.top-right {
    width: 336px;
    bottom: 0;
    left: 0;
    position: relative;
    margin-left: 6px;
    margin-bottom: 6px;
    transition: all 0.5s ease-out;
}
.top-right:hover {
    bottom: 30px;
    left: 30px;
    transition: all 1s ease-out;
}
.top-right-1 {
    position: absolute;
    bottom: 0;
    transform: rotate(180deg);
}
.top-right-1-1 {
    filter: opacity(0.5);
    transition: all 1s ease-out;
}
.top-right-2 {
    position: absolute;
    bottom: 0;
    transform: rotate(270deg);
}
.top-right-2-2 {
    filter: opacity(0.2);
}
.top-right-3 {
    position: absolute;
    bottom: 0;
    transform: rotate(0deg);
}
.top-right-3-3 {
    filter: opacity(0.5);
    transition: all 1s ease-out;
}
.top-right-4 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    transform: rotate(0deg);
}
.top-right-5 {
    position: absolute;
    bottom: 16px;
    left: 16px;
}
.top-right-rel {
    position: relative;
}
.top-right-1-1-2 {
    position: absolute;
    left: 10px;
    top: 10px;
    transform: rotate(180deg);
}
.top-right:hover .top-right-1-1 {
    filter: opacity(1);
    transition: all 1s ease-out;
}
.top-right:hover .top-right-3-3 {
    filter: opacity(0.5);
    transition: all 1s ease-out;
}
.top-right:hover .top-right-2-2 {
    filter: opacity(1);
    transition: all 1s ease-out;
}


.top-left {
    width: 336px;
    bottom: 0;
    right: 0;
    position: relative;
    margin-right: 6px;
    margin-bottom: 6px;
    transition: all 0.5s ease-out;
}
.top-left:hover {
    bottom: 30px;
    right: 30px;
    transition: all 1s ease-out;
}
.top-left-1 {
    position: absolute;
    bottom: 0;
    transform: rotate(90deg);
}
.top-left-1-1 {
    filter: opacity(0.5);
    transition: all 1s ease-out;
}
.top-left-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}
.top-left-2-2 {
    filter: opacity(0.2);
}
.top-left-2-21 {
    position: relative;
    bottom: 84px;
}
.top-left-2-22 {
    position: relative;
    /*bottom: 40px;*/
    /*right: 20px;*/
}
.top-left-2-23 {
    position: absolute;
    top: 10px;
    left: 10px;
    /*right: 20px;*/
}
.top-left-2-24 {
    position: absolute;
    left: 30px;
    bottom: 25px;
    transform: rotate(180deg);
}
.top-left-3 {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(270deg);
}
.top-left-3-3 {
    filter: opacity(0.5);
    transition: all 1s ease-out;
}
.top-left-4 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    transform: rotate(270deg);
}
.top-left-5 {
    position: absolute;
    transform: rotate(90deg);
    bottom: 16px;
    left: 16px;
}
.top-left-rel {
    position: relative;
}
.top-left-1-1-2 {
    position: absolute;
    bottom: -40px;
    right: 50px;
    transform: rotate(268deg);
}
.top-left:hover .top-left-1-1 {
    filter: opacity(1);
    transition: all 1s ease-out;
}
.top-left:hover .top-left-3-3 {
    filter: opacity(0.5);
    transition: all 1s ease-out;
}
.top-left:hover .top-left-2-2 {
    filter: opacity(0.5);
    transition: all 1s ease-out;
}


.aside-menu {
    display: block;
    opacity: 0;
    position: absolute;
    z-index: 100;
    height: 405px;
    width: 200px;
    background: transparent;
    right: 105px;
    top:100%;
}
.aside-menu-show {
    opacity: 1;
    top: 63%;
    transition: 0.5s ease-in-out 1s;
}
.aside-menu-hide {
    opacity: 1;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

.aside-menu__block {
    position: absolute;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
}
.hint {
    width: 127px;
    top: -90px;
    left: 10px;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    background-color: transparent;
    color: #C2C9D1;
}
.policy {
    top: 0;
}
.procedures {
    top: 110px;
}
.playbook{
    top: 220px;
}
.appetite {
    top: 330px;
}
.aside-menu__block-title {
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 15px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.aside-menu__block-content {
    margin-bottom: 12px;
    margin-left: 12px;
    /*//styleName: Subheader - Light;*/
    font-family: Rubik;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.lines {
    opacity: 0;
    position: absolute;
    top: 13%;
    left: 75px;
    transition-delay: 1s;
}
.lines-duration-hide {
    opacity: 1;
    top: 17%;
    transition: 0.2s ease-in-out;
    left: 90px;
}
.lines-duration-show {
    opacity: 1;
    transition: 1s ease-in-out 0.3s;
    left: -15px;
    top: 23%;
}
.lines-attr {
    position: absolute;
}
.horizontal {
    top: 50px;
    right: -112px;
}
.radius {
    top: 52px;
    right: 91px;
}
.vertical {
    top: 98px;
    right: 132px;
}
.circle-percent {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #ffffff;
}